{% extends '!layout.html' %}

{%- block sidebarlogo %}
{%- if logo_url %}
  <p class="logo"><a href="https://www.lib.umd.edu/">
    <img class="logo" src="{{ logo_url|e }}" alt="Logo"/>
  </a></p>
{%- endif %}
{%- endblock %}


{% block footer %}
    <div class="footer">
        <a href="https://giving.umd.edu/giving/showSchool.php?name=libraries">Give Now</a>
        |
        <a href="https://www.lib.umd.edu/about/policies/privacy">Privacy Policy</a>
        |
        <a href="https://www.umd.edu/web-accessibility">Web Accessibility</a>
        |
        &copy; {{ copyright|e }}
    </div>
{% endblock %}